In [21]:
import pandas as pd
import os

all_data = pd.read_excel(r"/Users/Pro/Documents/Master MBD/MBD_S2/Web-Scraping/Ebay_Scrap/SinglePage.xlsx")
#all_data['City']=all_data['Country'].split(",")[1].strip(" ")
#all_data['Country'] == 'india'
#all_data['Country']= all_data['Country'].apply(lambda x: x.strip(" \n\n\n\r\n\ ").strip(" Located in"))
all_data['Country']= all_data['Location'].apply(lambda x: x.split(",")[1].strip(" "))
all_data['Sold']= all_data['Sold'].apply(lambda x: x.split(" ")[0].strip("sold"))
all_data['Price']= all_data['Price'].apply(lambda x: x.split(" ")[1].strip("GBP"))

all_data['Location']= all_data['Location'].apply(lambda x: x.split(":")[1].strip(" "))
all_data['city']= all_data['Location'].apply(lambda x: x.split(",")[0])
all_data.head()

,Unnamed: 0,Title,Location,Price,Sold,Available,Delivry,Country,city
0,0,Vintage HMT Military 17j Winding 35mm Wrist W...,"\nMUMBAI, India\n\n\n\n\n\n",14.99,30,\n\n\t\t\t\t\t\t\t\tMore than 10 available\n,Free Shipping and returns,India\n\n\n\n\n\n,\nMUMBAI

In [13]:
all_data['Sold'] = pd.to_numeric(all_data['Sold'])
all_data['Price'] = pd.to_numeric(all_data['Price'])
try :
    all_data['Sales'] = all_data['Sold'].astype('int') * all_data['Price'].astype('float')
except :
    all_data['Sales'] = all_data['Price']
all_data.head()

,Unnamed: 0,Title,Location,Price,Sold,Available,Delivry,Country,city,Sales
0,0,Vintage HMT Military 17j Winding 35mm Wrist W...,"\nMUMBAI, India\n\n\n\n\n\n",14.99,30,\n\n\t\t\t\t\t\t\t\tMore than 10 available\n,Free Shipping and returns,India\n\n\n\n\n\n,\nMUMBAI,449.7

In [16]:
all_data['Country'].groupby(by=['Country'])
all_data.head()

,Unnamed: 0,Title,Location,Price,Sold,Available,Delivry,Country,city,Sales
0,0,Vintage HMT Military 17j Winding 35mm Wrist W...,"\nMUMBAI, India\n\n\n\n\n\n",14.99,30,\n\n\t\t\t\t\t\t\t\tMore than 10 available\n,Free Shipping and returns,"(Country, [(Country, 0 India\n\n\n\n\n\n\nN...",\nMUMBAI,449.7

In [22]:
import matplotlib.pyplot as plt

keys = [country for country, df in all_data.groupby(['Country'])]

plt.bar(keys,all_data.groupby(['Country']).sum()['Sales'])
plt.ylabel('Sales in USD ($)')
plt.xlabel('Month number')
plt.xticks(keys, rotation='vertical', size=8)
plt.show()

ModuleNotFoundError: No module named 'matplotlib'